<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Sorry , There Might Be Issues With DataBase</h1>
    <p>We Are Working On It Plz Try After Some Time</p>

<%- include('includes/end.ejs') %>